<div class="container-fluid">
    <div class="row{{#if modifierClass}} {{modifierClass}}{{/if}}">
        <div class="col-12">
            <span>.col-12</span>
        </div>
        <div class="col-10 offset-1">
            <span>.col-10 .offset-1</span>
        </div>

        <div class="col-8 offset-2">
            <span>.col-8 .offset-2</span>
        </div>
        <div class="col-6 offset-3">
            <span>.col-6 .offset-3</span>
        </div>
        <div class="col-4 offset-4">
            <span>.col-4 .offset-4</span>
        </div>
        <div class="col-2 offset-5">
            <span>.col-2 .offset-5</span>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row{{#if modifierClass}} {{modifierClass}}{{/if}}">

        <div class="col-6">
            <span>.col-6</span>
        </div>
        <div class="col-6">
            <span>.col-6</span>
        </div>
        <div class="col-5 offset-1">
            <span>.col-10 .offset-1</span>
        </div>
        <div class="col-5">
            <span>.col-8</span>
        </div>
        <div class="col-4 offset-2">
            <span>.col-6 .offset-3</span>
        </div>
        <div class="col-4">
            <span>.col-4</span>
        </div>
        <div class="col-3 offset-3">
            <span>.col-3 .offset-3</span>
        </div>
        <div class="col-3">
            <span>.col-3</span>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row{{#if modifierClass}} {{modifierClass}}{{/if}}">


        <div class="col-4">
            <span>.col-4</span>
        </div>
        <div class="col-4">
            <span>.col-4</span>
        </div>
        <div class="col-4">
            <span>.col-4</span>
        </div>
        <div class="col-2 offset-3">
            <span>.col-2 .offset-3</span>
        </div>
        <div class="col-2">
            <span>.col-2</span>
        </div>
        <div class="col-2">
            <span>.col-2</span>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row{{#if modifierClass}} {{modifierClass}}{{/if}}">

        <div class="col-3">
            <span>.col-3</span>
        </div>
        <div class="col-3">
            <span>.col-3</span>
        </div>
        <div class="col-3">
            <span>.col-3</span>
        </div>
        <div class="col-3">
            <span>.col-3</span>
        </div>

        <div class="col-2 offset-2">
            <span>.col-2 .offset-2</span>
        </div>
        <div class="col-2">
            <span>.col-2</span>
        </div>
        <div class="col-2">
            <span>.col-2</span>
        </div>
        <div class="col-2">
            <span>.col-2</span>
        </div>


    </div>
</div>


<div class="container-fluid">
    <div class="row{{#if modifierClass}} {{modifierClass}}{{/if}}">

        <div class="col-2 offset-1">
            <span>.col-2</span>
        </div>
        <div class="col-2">
            <span>.col-2</span>
        </div>
        <div class="col-2">
            <span>.col-2</span>
        </div>
        <div class="col-2">
            <span>.col-2</span>
        </div>
        <div class="col-2">
            <span>.col-2</span>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row{{#if modifierClass}} {{modifierClass}}{{/if}}">

        <div class="col-2">
            <span>.col-2</span>
        </div>
        <div class="col-2">
            <span>.col-2</span>
        </div>
        <div class="col-2">
            <span>.col-2</span>
        </div>
        <div class="col-2">
            <span>.col-2</span>
        </div>
        <div class="col-2">
            <span>.col-2</span>
        </div>

        <div class="col-2">
            <span>.col-2</span>
        </div>


        <div class="col-1 offset-3">
            <span>.col-1 .offset-3</span>
        </div>
        <div class="col-1">
            <span>.col-1</span>
        </div>
        <div class="col-1">
            <span>.col-1</span>
        </div>
        <div class="col-1">
            <span>.col-1</span>
        </div>
        <div class="col-1">
            <span>.col-1</span>
        </div>

        <div class="col-1">
            <span>.col-1</span>
        </div>

    </div>
</div>


<!--
<div style="height: 2000px"></div>





<div class="container-fluid">
    <div class="row{{#if modifierClass}} {{modifierClass}}{{/if}}">
        <div class="col-3">
            <span>3 / 12</span>
        </div>
        <div class="col-3">
            <span>3 / 12</span>
        </div>
        <div class="col-3">
            <span>3 / 12</span>
        </div>
        <div class="col-3">
            <span>3 / 12</span>
        </div>
        <div class="col-6 col-md-3">
            <span>6 or 3 / 12</span>
        </div>
        <div class="col-6 col-md-3">
            <span>6 or 3 / 12</span>
        </div>
        <div class="col-6 col-md-3">
            <span>6 or 3 / 12</span>
        </div>
        <div class="col-6 col-md-3">
            <span>6 or 3 / 12</span>
        </div>
        <div class="col-4">
            <span>4 / 12</span>
        </div>
        <div class="col-4">
            <span>4 / 12</span>
        </div>
        <div class="col-4">
            <span>4 / 12</span>
        </div>
        <div class="col-6">
            <span>6 / 12</span>
        </div>
        <div class="col-6">
            <span>6 / 12</span>
        </div>
        <div class="col-12">
            <span>12 / 12</span>
        </div>
        <div class="col-3">
            <span>3 / 12</span>
        </div>
        <div class="col-6">
            <span>6 / 12</span>
        </div>
        <div class="col-3">
            <span>3 / 12</span>
        </div>
        <div class="col-3">
            <span>3 / 12</span>
        </div>
        <div class="col-9">
            <span>9 / 12</span>
        </div>
        <div class="col-8">
            <span>8 / 12</span>
        </div>
        <div class="col-4">
            <span>4 / 12</span>
        </div>
    </div>
</div>
-->
